# GitIgnore File For The Project

# Ignore Devbox Files/Directories
.devbox/
devbox.d/
/devbox.lock

# Ignore Environment Files
.env
.env.local
!.env.example

# Ignore Local Files
.local/

# Ignore Logging And Temporary Files
*.log
*.tmp
tmp/
log/

# Ignore Any Output Files
dist/
output/

# Allow File
!other-templates/console-environment/devbox.lock
