# Local environment variables

# Devbox User and Group ID
DEVBOX_UID=1000
DEVBOX_GID=1000

# Docker Host Group ID
DOCKER_GID=131

# Root Home Path Where Data Is Stored
ENVIRONMENT_PATH=${HOME}/Development/Personal/Home


