# Local environment variables
CLIENT_NAME=cloud-infra
DOCKER_GID=131
ENVIRONMENT_PATH=/home/geoffrey/Development/Personal/Home
TEMP_PATH=/home/geoffrey/Development/Personal/Temp

DEVBOX_UID=1000
DEVBOX_GID=100
