---
# Docker Image Build And Push Taskfile.
version: '3'

vars:
  IMAGE_USERNAME: "example-username"
  IMAGE_NAME: "example-image"

tasks:

  default:
    # desc: A Hidden Default Action To List Available Commands.
    cmds:
      - task -l
    silent: true
    aliases:
      - list

  build:
    desc: Build The Docker Image.
    cmds:
      - |
        cd "{{.TASKFILE_DIR}}/docker"
        docker build -f Containerfile -t {{.IMAGE_USERNAME}}/{{.IMAGE_NAME}}:latest --build-arg UID=$(id -u) --build-arg GID=$(id -g) .
        docker tag {{.IMAGE_USERNAME}}/{{.IMAGE_NAME}}:latest

  force-build:
    desc: Build The Docker Image Without Using Cache.
    cmds:
      - |
        cd "{{.TASKFILE_DIR}}/docker"
        docker build --no-cache -f Containerfile -t {{.IMAGE_USERNAME}}/{{.IMAGE_NAME}}:latest --build-arg UID=$(id -u) --build-arg GID=$(id -g) .
        docker tag {{.IMAGE_USERNAME}}/{{.IMAGE_NAME}}:latest

  push:
    desc: Push The Docker Image To The Registry.
    cmds:
      - docker push {{.IMAGE_USERNAME}}/{{.IMAGE_NAME}}:latest

  build-and-push:
    desc: Build And Push The Docker Image In A Single Step.
    cmds:
      - task: build
      - task: push
      - task: clean

  check:
    desc: Run Pre-Commit Hooks To Validate Code Quality.
    cmds:
      - pre-commit run --all-files
